@import url('https:fonts.googleapis.com/css2?family=Roboto:100,300,400,100italic,300italic');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
}
html{
    font-family: 'roboto',sans-serif;
    font-weight: 00;
}
p{
    font-size: 1.3em;
    text-align: justify;
}
p,b{
    font-size: 1.4em;
    text-align: justify;

}
h1,h2,h4,h5,figure,ul{
    margin: 20;
}


h4{
    font-size: 2.5em;
    color: rgba(7, 133, 13, 0.852);
    text-align: justify;
}
h3{
    font-size: 3em;
    color: rgba(3, 60, 66, 0.852);
    text-align: center;
}
h2{
    font-size: 3.5em;
    text-align: center;
    color: rgba(21, 67, 96);
}
h5{
    font-size: 1.3em;
    color: #107267db;
    text-align: center;
}
.logo-arriba{
   
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;

}


.Digital{
    max-width: 100%;
    margin:2px 190px;
    display:flexbox;
	text-align: center center;
}

.TM{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.RTB{
    max-width: 100%;
    margin:2px 190px;
    display:flexbox;
	text-align: center center;
}
.SOCIAL{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.SEO{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.SMM{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.EIM{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.IM{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.DPM{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center center;
}
.M{
    max-width: 100%;
    margin:2px 150px;
    display:flexbox;
	text-align: center center;
}
.G{
    max-width: 100%;
    margin:2px 250px;
    display:flexbox;
	text-align: center center;
}

.TrabajosAD{
    max-width: 100%;
    margin:4px 90px;
    display:flexbox;
	text-align: center center;

}

.Curso{
    max-width: 100%;
    margin:3px 190px;
    display:flexbox;
	text-align: center center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

img{
    max-width: 100%;
    height:auto;
}





/*ANCHO DE PÁGINA*/

.contenedor{
    max-width: 1024px;
    margin: 0 auto;
}





/*LOGO*/
.logo{
    margin:5px;
    text-align: center;
}





/*POSICIÓN Y ESTILOS DEL MENÚ*/
.container__menu{
    width: 100%;
    height: 60px;
    background-color: black ;
    padding: 0px ;
    text-decoration: none;

}

.menu{
    max-width: 1100px;
    margin: auto;
    height: 100%;

}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul li{
    height: 100%;
    list-style:none ;
    position: relative;

}

nav > ul> li:first-child> a{
    background-image: href="img/Edukar-T Logo1.png" ;
    background-size: 55px;
    background-repeat: no-repeat;
    padding: 5px 40px;
    background-position: center center;
}

nav > ul> li:first-child:hover> a{
    background-image: href="img/Edukar-T Logo1.png" ;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul> li> a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size:15px;
    text-decoration: none;
    transition: all 300ms ease;

}

nav > ul> li> a:hover{
    transform: scale(1.1);
    background: #fdc425   ;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}





nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 80px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right:12px solid transparent;
    border-bottom: 12px solid rgb(4, 76, 20);
    position: absolute;
    top: -12px;
    left: 20px;
    }
nav ul li ul li a{
    display: block;
    color:  black;
    padding: 6px;
    margin-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
   color: #fff;
   transform: scale(1.1);
    background-color:  rgb(193, 56, 56);
    padding-left: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}
nav ul li ul li .ul-second:hover{
    background-color:  rgba(55, 170, 190, 0.927);
} 
.ul-second {
    color: #fff;
    transform: scale(121px);
     padding-left: 20px;
     font-size: 10px;

}
.ul-second > li{
    padding: 2px;
    
}

/*ESTILO PARA LOS BOTONES*/
.boton-container{
    text-align: center;
    background-color:#fdc425 ;
    margin: 5px auto;
}

.boton-container a{
    text-decoration: none;
    color: #fff;
}

.boton-container:hover{
    background-color:  #2E4053;
}
.boton{
    padding: 10px;
}










/*ESTILOS PARA EL ARTÍCULO*/
article{
    padding: 10px; 
    margin: 10px; 
}
.art-image{
    max-width: 100%;
    margin:2px 90px;
    display:flexbox;
	text-align: center;
}

.art-cont{
	display: initial;
	width: 100%;
    text-align: justify;
 }
 

article h1{
    border-bottom: solida thin black;
    
}



/* ESTILO PARA EL FOOTER*/

footer{
    background-color:black  ;
    line-height: 25px;
    text-align: center;
    padding:10px 10;
    border-top: 5px ;

}
.pie-pagina .grupo-1{
    width: 120%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 10px 0px;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
   
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff ;
    margin-bottom: 25px;
    font-size: 30px;
      
}

.pie-pagina .grupo-1 .box p {
    color:  #fdc425;
    margin-bottom: 70px;
    text-align: center;
  
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 49px;
    color:black;
    margin-right: 10px 10px;
    background-color:#fdc425 ;
    text-align: center;
    transition: all 300ms ease;
}


.pie-pagina .grupo-1 .red-social  a:hover {
    color:#fff ;
}
.pie-pagina .grupo-2 {
    background-color: #fdc425 ;
    padding: 40px 35px;
    text-align: center center;
    color:  black;
}

.pie-pagina .grupo-2 small{
    font-size: 30px;
}



/*MEDIDAS MINIMAS DE TELEFONO,TABLET Y COMPUTADORA*/

@media screen  and (min-width:480px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1,2fr);
        grid-gap: 30px;
        padding: 25px 0px;
    }
   
}


@media screen  and (min-width:768px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(1,2fr);
        grid-gap: 30px;
        padding: 25px 0px;
    }
    
}



@media screen  and (min-width:1024px){
    .pie-pagina .grupo-1{
        width: 80%;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        padding: 25px 0px;
    }
   
    
}

